@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Product" asp-action="MemoryCache">Memory Cache</a> <br />
    <a asp-controller="Product" asp-action="DistributedCache">Distributed Cache</a> <br />
    <a asp-controller="Product" asp-action="ResponseCache">Response Cache</a>
</div>
